<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/admin-layout :: head"></head>
<body>
	<link th:href="@{/css/admin/agregar-casa.css}" rel="stylesheet">
	<div th:replace="layout/admin-layout :: header"></div>
	
	<div th:replace="layout/admin-layout :: sidenav"></div>
	<main>
	<div class="container white  z-depth-1">
		<div class="row">
			<div class="col s12 white titulo">
			<p><a onclick="window.history.go(-1); return false;" class="waves-effect waves-light btn-small white black-text"><i class="material-icons left">arrow_back</i>Regresar</a>
			</p>
				<h5 class="">Registrar nueva casa</h5>
			</div>
		</div>
		<div class="row formulario">
			<form class="col s12" th:object="${casa}" th:action="@{/admin/casas/form}" method="POST" id="formulario">
				<!-- Formulario  -->
				<div class="row">
					<div class="col s12">
						<p class="red-text" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}">	</p>
						<p class="red-text" th:if="${#fields.hasErrors('latitud')}" th:errors="*{latitud}">	</p>
						<p class="red-text" th:if="${#fields.hasErrors('longitud')}" th:errors="*{longitud}">	</p>
					</div>
					<div class="input-field col s12">
						<input placeholder="Ejemplo: Francisco A. Madero No. 43 Int. 32" id="calle" type="text"
							class="validate" th:field="*{direccion}" > <label for="calle">Dirección de la casa</label>
					</div>
					<div class="col s12">
						
						<p class="grey-text text-darken-3">Arrastre el marcador para indicar la posición de la casa:</p>
					</div>
					<div id="mapa" class="col s12"></div>

					<button class="btn waves-effect waves-light col  indigo s12 boton-mapa"
						type="submit" name="action">
						Registrarse <i class="material-icons right">send</i>
					</button>
				</div>
				<input type="hidden" id="lat" th:field="*{latitud}">
				<input type="hidden" id="lng" th:field="*{longitud}">
			</form>
		</div>
	</div>
	</main>
	

	<footer th:replace="layout/admin-layout :: footer"></footer>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5rfRXVnLBYfoxg5AyaWgY_UBTMnNkJs0">
		
	</script>
	<script th:src="@{/js/admin/API.js}"></script>
	<script th:src="@{/js/admin/Mapa.js}"></script>
	<script th:src="@{/js/admin/MapaMarker.js}"></script>
	<script th:src="@{/js/admin/ncasa.js}"></script>
</body>
</html>