<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/admin-layout :: head"></head>
<body>
	<link href="https://fonts.googleapis.com/css?family=Montserrat"
		rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/admin/casas-listar.css}"/>
	
	<div th:replace="layout/admin-layout :: header"></div>
	<div th:replace="layout/admin-layout :: sidenav"></div>
	<main>
	<div class="container">
		
		<div>
			<h2>Casas</h2>
		</div>
		<div class="row">
			<a class="btn-large col l4 m6 s12 info white black-text"><i
				class="material-icons left  indigo-text text-lighten-1">home</i><span th:text="${totalCasas}"></span></a> <a
				class="waves-effect waves-light btn-large col l4 m6 s12  indigo lighten-1" th:href="@{/admin/casas/mapa}"><i
				class="material-icons left">map</i>Mapa</a>

		</div>
		<div class="tabla-casas z-depth-1 white">
			<div class="titulo valign-wrapper">
				<h5 class="center-align " th:text="${titulo}"></h5>
			</div>
			<table class="striped responsive-table centered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Direccion</th>
						<th>Ver</th>
						<th>Editar</th>
						<th>Borrar</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="casa: ${casas}">
						<td th:text="${casa.id}"></td>
						<td th:text="${casa.direccion}"></td>
						<td><a
							class="waves-effect waves-light btn-small white black-text"
							th:href="@{/admin/casas/casa/} + ${casa.id}">Ver</a></td>
						<td><a
							class="waves-effect waves-light btn-small white black-text"
							th:href="@{/admin/casas/form/} + ${casa.id}">Editar</a></td>
						<td><a class="waves-effect waves-light btn-small  red darken-3"
							th:href="@{/admin/casas/eliminar/} + ${casa.id}"
							onclick="return confirm('Estas seguro que quieres eliminar?');">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
			<div th:replace="paginator-nav :: paginator"></div>
		</div>
	</div>

	</main>


	<div class="fixed-action-btn">
		<a class="btn-floating btn-large  red darken-4"> <i
			class="large material-icons">home</i>
		</a>
		<ul>
			<li><a class="btn-floating indigo darken-1"
				th:href="@{/admin/casas/form}"><i
					class="material-icons">add</i></a></li>
			<li><a class="btn-floating teal lighten-2 modal-trigger" href="#modal1"><i
					class="material-icons">search</i></a></li>
		</ul>
	</div>
	
	<div id="modal1" class="modal bottom-sheet">
		<form method="get">
			<div class="modal-content">
				<h4>Buscar</h4>
				<p>Buscar casas por dirección:</p>
				<div class="input-field col s12">
					<input id="direccion" type="text" class="validate"> <label
						for="direccion">Dirección</label>
				</div>

				<a href="/admin/casas/listar" id="btnBuscar" class="waves-effect waves-light btn"><i class="material-icons left">send</i>Enviar</a>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-green btn-flat"><i
					class="material-icons left">close</i>Cerrar</a>
			</div>
		</form>
	</div>
	

	<footer th:replace="layout/admin-layout :: footer"></footer>
	<script>
		document.querySelector('#direccion').addEventListener('keyup',e=>{
			let buscar = e.target.value;
			let btn = document.querySelector('#btnBuscar');
			let replaced = buscar.split(' ').join('+');
			btn.href =  '/admin/casas/listar?direccion='+replaced;
			
		});
	</script>
</body>
</html>