<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/admin-layout :: head"></head>
<body>
	<link rel="stylesheet" th:href="@{/css/admin/casas-mapa.css}"/>
	<div th:replace="layout/admin-layout :: header"></div>
	<div th:replace="layout/admin-layout :: sidenav"></div>
	<main>
	<div class="container z-depth-1">
		<div class="row mapa-container">
			<div class="col s12 white titulo">
				
				<p><a onclick="window.history.go(-1); return false;" class="waves-effect waves-light btn-small white black-text"><i class="material-icons left">arrow_back</i>Regresar</a>
			</p>
			<h4 th:text="${titulo}" class=""></h4>
			</div>
			<div class="col s12" id="mapa"></div>
		</div>
	</div>
	</main>


	<footer th:replace="layout/admin-layout :: footer"></footer>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5rfRXVnLBYfoxg5AyaWgY_UBTMnNkJs0">
	</script>
	<script th:src="@{/js/admin/API.js}"></script>
	<script th:src="@{/js/admin/Mapa.js}"></script>
	<script th:src="@{/js/admin/MapaCasas.js}"></script>
	<script th:src="@{/js/admin/mostrarCasas.js}"></script>
</body>
</html>