<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/admin-layout :: head"></head>
<body>
	<link rel="stylesheet" th:href="@{/css/admin/admin-casa.css}" />
	<div th:replace="layout/admin-layout :: header"></div>
	<div th:replace="layout/admin-layout :: sidenav"></div>
	<main>
	<div class="container">
		<div id="mapa" class="z-depth-1"></div>
		<div class="general white z-depth-1">
			<p>
				<a onclick="window.history.go(-1); return false;"
					class="waves-effect waves-light btn-small white black-text"><i
					class="material-icons left">arrow_back</i>Regresar</a>
			</p>
			<h5 class="" th:text="${casa.direccion}"></h5>
			<input type="hidden" th:value="${casa.longitud}" id="longitud">
			<input type="hidden" th:value="${casa.latitud}" id="latitud">
		</div>
		<div class="propietarios  z-depth-1"></div>
		<div class="z-depth-1 white">
			<div class="">
				<ul class="tabs">
					<li class="tab col s4"><a href="#test1">Propietarios</a></li>
					<li class="tab col s4"><a class="active" href="#test2">Pagos</a></li>
					<li class="tab col s4"><a href="#test3">Residuos</a></li>
				</ul>
			</div>
			<div id="test1" class="col s12 white">
				<ul class="collection with-header">
					<li class="collection-header"><h6>Lista de propietarios</h6></li>
					<div th:each="propietario: ${casa.propietarios}">
						<li class="collection-item"><span
							th:text="${propietario.apellido}+' '+${propietario.nombre}"></span><a
							th:href="@{/admin/casas/casa/}+${casa.id}+'/eliminarPropietario/'+${propietario.id}"
							class="secondary-content"><i class="material-icons red-text">delete</i></a>

						</li>
					</div>
				</ul>
			</div>
			<div id="test2" class="col s12">Test 2</div>
			<div id="test3" class="col s12">Test 3</div>
		</div>

	</div>
	</main>

	<footer th:replace="layout/admin-layout :: footer"></footer>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5rfRXVnLBYfoxg5AyaWgY_UBTMnNkJs0"></script>
	<script th:src="@{/js/admin/API.js}"></script>
	<script th:src="@{/js/admin/Mapa.js}"></script>
	<script th:src="@{/js/admin/MapaCasa.js}"></script>
	<script th:src="@{/js/admin/casa.js}"></script>
</body>
</html>