<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/admin-layout :: head"></head>
<body>
	<link rel="stylesheet" th:href="@{/css/admin/admin-condominio.css}" />
	<div th:replace="layout/admin-layout :: header"></div>
	<div th:replace="layout/admin-layout :: sidenav"></div>
	<main>
	<div class="container">
		<div>
			<h2>Condominio</h2>
		</div>
		<div class="informacion white z-depth-1">
			<div id="mapa" class=""></div>
			<h3 class="center-align" th:text="${condominio.nombre}"></h3>
			<h6 class="center-align">Información general</h6>
			<ul class="collection">
				<li class="collection-item" th:text="'Casas: '+${condominio.casas.size()}"></li>
				<li class="collection-item" th:text="'Propietarios: '+${propietarios.size()}">Alvin</li>
				<li class="collection-item" th:text="'Saldo: $'+${condominio.saldo}">Alvin</li>
				<li class="collection-item" th:text="'Recolecciones realizadas: '+${condominio.recolecciones.size()}">Alvin</li>
			</ul>
			<div class="row">
			<a class="grey darken-3 col s12 waves-effect waves-light btn-small"
				th:href="@{/admin/condominio/editar}"><i
				class="material-icons left">edit</i>Editar</a> <input type="hidden"
				id="latitud" th:value="${condominio.latitud}"> <input
				type="hidden" id="longitud" th:value="${condominio.longitud}">
			</div>
			
		</div>
	</div>
	</main>

	<footer th:replace="layout/admin-layout :: footer"></footer>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5rfRXVnLBYfoxg5AyaWgY_UBTMnNkJs0"></script>
	<script th:src="@{/js/admin/API.js}"></script>
	<script th:src="@{/js/admin/Mapa.js}"></script>
	<script th:src="@{/js/admin/MapaCasa.js}"></script>
	<script th:src="@{/js/admin/condominio.js}"></script>

</body>
</html>