<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/admin-layout :: head"></head>
<body>
	<link th:href="@{/css/admin/agregar-casa.css}" rel="stylesheet">
	<div th:replace="layout/admin-layout :: header"></div>
	<div th:replace="layout/admin-layout :: sidenav"></div>
	<main>
		<div class="container white  z-depth-1">
		<div class="row">
			<div class="col s12 white 4titulo">
				<h5 class="" th:text="${titulo}"></h5>
			</div>
		</div>
		<div class="row formulario">
			<form class="col s12" th:object="${condominio}" th:action="@{/admin/condominio/editar}" method="POST" id="formulario">
				<!-- Formulario  -->
				<div class="row">
					<div class="col s12">
						<p class="red-text" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>
						<p class="red-text" th:if="${#fields.hasErrors('latitud')}" th:errors="*{latitud}">	</p>
						<p class="red-text" th:if="${#fields.hasErrors('longitud')}" th:errors="*{longitud}">	</p>
					</div>
					<div class="input-field col s12">
						<input placeholder="Agrege el nombre del condominio" id="nombre" type="text"
							class="validate" th:field="*{nombre}" > <label for="nombre">Dirección de la casa</label>
					</div>
					<div class="col s12">
						<p class="grey-text text-darken-3">Arrastre el marcador para indicar la posición del condominio:</p>
						<p class="grey-text">Nota: Asegúrese que el marcador esté en la entrada del condominio para garantizar la funcionalidad de ciertos servcios.</p>
					</div>
					<div id="mapa" class="col s12"></div>

					<button class="btn waves-effect waves-light col  indigo s12 boton-mapa"
						type="submit" name="action">
						Editar condominio <i class="material-icons right">send</i>
					</button>
				</div>
				<input type="hidden" id="lat" th:field="*{latitud}">
				<input type="hidden" id="lng" th:field="*{longitud}">
			</form>
		</div>
	</div>
	</main>
	
	<footer th:replace="layout/admin-layout :: footer"></footer>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5rfRXVnLBYfoxg5AyaWgY_UBTMnNkJs0">
		
	</script>
	<script th:src="@{/js/admin/API.js}"></script>
	<script th:src="@{/js/admin/Mapa.js}"></script>
	<script th:src="@{/js/admin/MapaMarker.js}"></script>
	<script th:src="@{/js/admin/editarCondominio.js}"></script>
</body>
</html>