<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:fragment="head">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Registrarse</title>
<!-- CSS -->
<link href="https://fonts.googleapis.com/css?family=Work+Sans"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/materialize.min.css}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/signup.css}" />
</head>
<body>


	<header th:replace="layout/index-layout :: header"></header>
	<div class="row contenedor">
		<div class="col l3 m2"></div>
		<div class="main z-depth-2 col s12 m8 l6">
			<header class="header">
				<h6>TOGETHER</h6>
				<h4>Registrarse</h4>
			</header>
			<form th:action="@{/signup}"  th:object="${propietario}" method="POST"
				id="form-box">
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">account_circle</i> <input
						id="nombre" type="text" th:field="*{nombre}" class="validate"
						onselectstart="return false" onCut="return false"
						onDrag="return false" onDrop="return false" autocomplete="off"
						onpaste="return false" onkeypress="return sololetras(event)"
						required> <label for="nombre">Nombre</label>
						<p class="red-text" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">account_circle</i> <input
						id="apellido" type="text" th:field="*{apellido}" class="validate"
						onselectstart="return false" onCut="return false"
						onDrag="return false" onDrop="return false" autocomplete="off"
						onpaste="return false" onkeypress="return sololetras(event)"
						required> <label for="apellido">Apellido</label>
						<p class="red-text" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></p>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">email</i> <input id="emial"
						type="email" th:field="*{email}" class="validate"
						onselectstart="return false" onCut="return false"
						onDrag="return false" onDrop="return false" autocomplete="off"
						onpaste="return false" onkeypress="return validarmail(event)"
						maxlength="76" required> <label for="email">Email</label>
						<p class="red-text" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">phone</i> <input id="telefono"
						type="text" th:field="*{telefono}" class="validate"
						onselectstart="return false" onCut="return false"
						onDrag="return false" onDrop="return false" autocomplete="off"
						onpaste="return false" onkeypress="return solonum(event)"
						maxlength="10" minlength="10" required> <label
						for="telefono">Teléfono</label>
						<p class="red-text" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></p>
				</div>
				<div class="input-field col s12">
					<i class="material-icons prefix">account_box</i> <input
						id="username" type="text" name="username" class="validate"
						onselectstart="return false" onCut="return false"
						onDrag="return false" onDrop="return false" autocomplete="off"
						onpaste="return false" onkeypress="return solotodo(event)"
						required> <label for="username">Nombre de usuario</label>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">lock</i> <input id="password"
						type="password" name="password" class="validate"
						onselectstart="return false" onCut="return false"
						onDrag="return false" onDrop="return false" autocomplete="off"
						onpaste="return false" onkeypress="return solotodo(event)"
						minlength="8" maxlength="32" required> <label
						for="password">Contraseña</label>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">lock</i> <input id="password2"
						type="password" class="validate" onselectstart="return false"
						onCut="return false" onDrag="return false" onDrop="return false"
						autocomplete="off" onpaste="return false"
						onkeypress="return solotodo(event)" minlength="8" maxlength="32"
						required> <label for="password2">Repita la
						contraseña</label>
				</div>
				
				<br>
				<div class="extra ">
					<p class="red-text" id="password-check"></p>
					<p>
						<label> <input class="filled-in" type="checkbox" id="privacidad" required/> <span>He
								leído y acepto el <a class="blue-text">Aviso de Privacidad</a></span>
						</label>
					</p>
				</div>
				<div class="clear"></div>
				<br>
				<div class="row">
					<button class="btn waves-effect waves-light col s12 purple darken-1 " id="btnEnviar" type="submit"
						name="action">Crear cuenta</button>
					
				</div>

			</form>

		</div>
		<div class="col l3 m2"></div>
	</div>
	<footer th:replace="layout/index-layout :: footer"></footer>
	
	<!-- 
	<script th:src="@{/js/admin/validacion.js}"></script>
	 -->	
</body>
</html>