<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="author" content="Sahil Kumar">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Casas - Together</title>
<link href="https://fonts.googleapis.com/css?family=Work+Sans"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/materialize.min.css}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/app/inicio-previo.css}" />


</head>
<body class="deep-purple">
	<div class="contenedor">
		<div class="row">
			<div class="col s12 ">
				<div class="logo">
					<h1 class="white-text center-align">Together</h1>
					<p class="center align white-text">Casas del propietario</p>
				</div>
			</div>
			<div class="col s12"  th:if="${propietario.casas.size() == 0}" >
				<p class="center-align"><img width="100px" src="http://pluspng.com/img-png/sad-png-hd--2160.png"></p>
				<p class="white-text center-align"><b>No tienes casas</b></p>
				<p class="center-align white-text">Solicita acceso al administrador de tu condominio</p>
			</div>
			<div class="col s12 m12" th:each="casa: ${propietario.casas}">
				<div class="card white">
					<div class="card-content ">
						<span class="card-title" th:text="'Condominio: '+${casa.Condominio.nombre}"></span>
						<p th:text="'Dirección: '+${casa.direccion}"></p>
					</div>
					<div class="card-action">
						<b><a th:href="@{/app/}+${casa.id}"
							class="waves-effect waves-light btn teal darken-1">Ingresar</a></b>
					</div>
				</div>
			</div>
			<div class="col s12">
				<form id="logoutForm" th:action="@{/logout}" method="post">
					<a class="waves-effect waves-light btn col s12"
						onclick="document.getElementById('logoutForm').submit();"><i class="material-icons right">exit_to_app</i>Salir de la aplicación</a>
				</form>
			</div>

		</div>
	</div>
</body>
</html>