<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title th:text="${titulo}+' - Together'"></title>
<!-- CSS -->
<link href="https://fonts.googleapis.com/css?family=Work+Sans"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/materialize.min.css}" />
<link rel="stylesheet" th:href="@{/css/admin/admin-plantilla.css}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
</head>

<body>

	<div th:fragment="header">
		<div class="navbar-fixed">
			<nav class="nav-edit white">
				<div class="nav-wrapper nav-edit">
					<ul>
						<a href="#" data-target="slide-out" class="sidenav-trigger"> <i
							class="material-icons black-text">menu</i>
						</a>
					</ul>
					<a href="#"
						class="brand-logo hide-on-large-only grey-text text-darken-4">Together</a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li>
							<form id="logoutForm" th:action="@{/logout}" method="post">
								<a onclick="document.getElementById('logoutForm').submit();"
									class="grey-text text-darken-4">Cerrar sesión</a>
							</form>
						</li>
						<li><a href="#" class=""><i
								class="material-icons grey-text text-darken-4">account_circle</i></a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<!-- Fin Header -->

	<div th:fragment="sidenav">
		<ul id="slide-out" class="sidenav sidenav-fixed sidenav-edit">
			<li class="titulo"><a class="app-titulo white-text">TOGETHER</a>
			</li>
			<li><a class="center-align purple lighten-1 white-text" th:href="@{/admin/}">Administrador</a>
			</li>
			<li><a class="subheader grey-text text-lighten-1">Administración</a></li>
			<li><a th:href="@{/admin/condominio}" class="white-text"><i
					class="material-icons white-text">domain</i>Condominio</a></li>
			<!-- 
			<li>
				<div class="divider"></div>
			</li>
			 -->
			<li><a th:href="@{/admin/propietarios/listar}"
				class="white-text"><i class="material-icons white-text">supervisor_account</i>Propietarios</a></li>
			<li><a class="waves-effect white-text"
				th:href="@{/admin/finanzas/}"><i
					class="material-icons white-text">attach_money</i>Finanzas</a></li>
			<li><a class="white-text" th:href="@{/admin/casas/listar}"><i
					class="material-icons white-text">home</i>Casas</a></li>

			<li><a class="waves-effect white-text"
				th:href="@{/admin/residuos/}"><i
					class="material-icons white-text">delete</i>Residuos</a></li>
			<div class="hide-on-large-only">
				<li><a class="subheader grey-text text-lighten-1">Cuenta</a></li>
				<li><a class="waves-effect white-text"
					th:href="@{/admin/residuos/}"><i
						class="material-icons white-text">account_box</i>Ver cuenta</a></li>
				<li><a class="waves-effect white-text"
					onclick="document.getElementById('logoutForm').submit();"><i
						class="material-icons white-text">exit_to_app</i>Salir</a></li>
			</div>

		</ul>
	</div>
	<!-- Fin sidenav -->



	<!-- JS -->
	<footer th:fragment="footer">
		<div class="mensaje">
			<input type="hidden" th:value="${mensaje}" id="mensaje">
		</div>
		<script th:src="@{/js/materialize.min.js}"></script>
		<script>
			document.addEventListener("DOMContentLoaded", function() {
				M.AutoInit();
			});
			document.addEventListener('DOMContentLoaded',(e)=>{
			let a = document.querySelectorAll(".disabled");
			a.forEach((ar)=>{ar.style.pointerEvents = 'none';});
			let mensaje =  document.querySelector("#mensaje");
			if(mensaje.value !== "" ){
				console.log(mensaje.value);
				M.toast({html:`${mensaje.value}`})
			}
		});
		</script>
		<style>
@media only screen and (max-width : 600px) {
	div.container {
		margin-top: 0px;
		width: 99%;
	}
}
</style>


	</footer>

</body>

</html>