<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:fragment="head">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>TOGETHER</title>

<!-- CSS  -->
<link href="https://fonts.googleapis.com/css?family=Work+Sans"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/materialize.min.css}" />
<link rel="stylesheet" th:href="@{/css/index.css}" />
<link href="css/style.css" type="text/css" rel="stylesheet"
	media="screen,projection" />
</head>

<body>
	<header th:fragment="header">
		<nav class="white" role="navigation">
			<div class="nav-wrapper container t">
				<a id="logo-container" href="#" class="brand-logo black-text">TOGETHER</a>
				<ul class="right hide-on-med-and-down">
					<li><a th:href="@{/login}" class="black-text">Iniciar sesión</a></li>
					<li><a th:href="@{/signup}" id="download-button2"
						class="waves-effect waves-light btn purple">Registrarse</a></li>
				</ul>



				<ul id="nav-mobile" class="sidenav">
					<li><a class="subheader">Páginas</a></li>
					<li><a th:href="@{/login}">Iniciar sesión</a></li>
					<li><a th:href="@{/signup}">Registrarse</a></li>
				</ul>
				<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i
					class="material-icons">menu</i></a>
			</div>
		</nav>
	</header>

	


		<footer class="page-footer teal grey darken-4" th:fragment="footer">

			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">Footer Content</h5>
						<p class="grey-text text-lighten-4">You can use rows and
							columns here to organize your footer content.</p>
					</div>
					<div class="col l4 offset-l2 s12">
						<h5 class="white-text">Sitio</h5>
						<ul>
							<li><a class="grey-text text-lighten-3" href="#!">Acerca
									de nosotros</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Ayuda</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Contacto</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Términos
									y condiciones</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Privacidad</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">© Tyfonware3.0</div>
			</div>
			<div class="mensaje">
				<input type="hidden" th:value="${mensaje}" id="mensaje">
			</div>
			<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script th:src="@{/js/materialize.min.js}"></script>
			<script>
				(function($) {
					$(function() {

						$('.sidenav').sidenav();
						$('.parallax').parallax();

					});
				})(jQuery);
				document.addEventListener('DOMContentLoaded',(e)=>{
					let a = document.querySelectorAll(".disabled");
					a.forEach((ar)=>{ar.style.pointerEvents = 'none';});
					let mensaje =  document.querySelector("#mensaje");
					if(mensaje.value !== "" ){
						console.log(mensaje.value);
						M.toast({html:`${mensaje.value}`})
					}
				});
			</script>
		</footer>
</body>

</html>