<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/admin-layout :: head"></head>
<body>
	<style>
		div.container {
			width: 90%;
			margin-top: 20px;
		}
		
		div.contenido {
			padding-top: 10px;
		}
		
		div.evidencia {
			margin-bottom: 5px;
			margin-top: 5px;
		}
		
		p.regresar {
			padding-left: 10px;
		}
	</style>
	<div th:replace="layout/admin-layout :: header"></div>
	<div th:replace="layout/admin-layout :: sidenav"></div>
	<main>
	<div class="container">
		<div class="contenido white z-depth-1 center-align">
			<p class="left-align regresar">
				<a onclick="window.history.go(-1); return false;"
					class="waves-effect waves-light btn-small white black-text"><i
					class="material-icons left">arrow_back</i>Regresar</a>
			</p>
			<h4 th:text="'Id-'+${ingreso.id}"></h4>
			<p>- Ingreso -</p>
			<p>Información general:</p>
			<div class="collection">
				<a class="collection-item active"
					th:text="'Nombre: '+${ingreso.nombre}"></a> <a
					class="collection-item" th:text="'Fecha: '+${ingreso.createAt}"></a>
				<a class="collection-item"
					th:text="'Descripción: '+${ingreso.descripcion}"></a> <a
					class="collection-item"
					th:text="'Monto requerido: $'+${ingreso.monto}">></a> <a
					class="collection-item"
					th:text="'Monto recaudado: $'+${ingreso.recolectado}">></a>
			</div>

			<div class="divider"></div>
			<p>Casas que aún no han pagado:</p>


			<ul class="collapsible">
				<li th:each="pago : ${ingreso.pagos}" th:if="${pago.estatus == 0}">
					<div class="collapsible-header">
						<i class="material-icons">payment</i><span
							th:text="${pago.casa.direccion}"></span>
					</div>
					<div class="collapsible-body left-align">
						<span>
							<p th:text="'Adeudo: $'+${ingreso.monto - pago.monto}"></p>
							<form class="col s12" th:object="${ingreso}" th:action="@{/admin/finanzas/ingresos/pagar}" method="POST">
								<div class="row">
								<input type="hidden" th:value="${pago.id}" name="pago_id">
								<div class="row col s12 m6">
									<div class="input-field col s12">
										<input id="monto" type="text" class="validate" name="montoPagar"> <label
											for="monto">Monto a pagar</label>
									</div>
									<button class="btn waves-effect waves-light col s12" type="submit"
										name="action">
										Pagar <i class="material-icons right">send</i>
									</button>
									</div>
								</div>
							</form>
						</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
	</main>




	<footer th:replace="layout/admin-layout :: footer"></footer>
</body>
</html>