<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/admin-layout :: head"></head>
<body>
	<link rel="stylesheet" th:href="@{/css/admin/casas-listar.css}" />

	<div th:replace="layout/admin-layout :: header"></div>
	<div th:replace="layout/admin-layout :: sidenav"></div>
	<main>
	<div class="container">
		<div class="tabla-casas z-depth-1 white">
			<div class="titulo">
				<p>
					<a onclick="window.history.go(-1); return false;"
						class="waves-effect waves-light btn-small white black-text"><i
						class="material-icons left">arrow_back</i>Regresar</a>
				</p>
				<h4 class="" th:text="${titulo}"></h4>
				<p>A continuacion se muestran los ingresos obtenidos, del más
					reciente al menos reciente.</p>
			</div>

			<table class="striped responsive-table centered responsive-table ">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Recaudado</th>
						<th>Fecha</th>
						<th>Ver</th>
					</tr>
				</thead>

				<tbody th:each="ingreso: ${ingresos}">
					<tr>
						<td th:text="${ingreso.nombre}"></td>
						<td th:text="${ingreso.recolectado}"></td>
						<td th:text="${ingreso.createAt}"></td>
						<td><a class="waves-effect waves-light btn-small purple" th:href="@{/admin/finanzas/ingresos/}+${ingreso.id}">Ver</a></td>
					</tr>

				</tbody>
			</table>
			<div th:replace="paginator-nav :: paginator"></div>
		</div>
	</div>

	</main>




	<footer th:replace="layout/admin-layout :: footer"></footer>
</body>
</html>