<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/admin-layout :: head"></head>
<body>
	<link rel="stylesheet" th:href="@{/css/admin/finanzas-inicio.css}" />
	<div th:replace="layout/admin-layout :: header"></div>
	<div th:replace="layout/admin-layout :: sidenav"></div>
	<main>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="row">
					<a class="col s12 m4 waves-effect waves-light red btn-large info"
						th:href="@{/admin/finanzas/nuevoGasto}"><i
						class="material-icons left">attach_money</i>Agregar gasto</a> <a
						class="col s12 m4 waves-effect waves-light btn-large green accent-3"
						th:href="@{/admin/finanzas/nuevoIngreso}"><i
						class="material-icons right">payment</i>Agregar ingreso</a>
				</div>
			</div>
			<div class="col s12 white z-depth-1">
				<div class="tabla">
					<h5>Ingresos</h5>
					<table class=" centered responsive-table highlight">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Recaudado</th>
								<th>Fecha</th>
								<th>Ver</th>
							</tr>
						</thead>

						<tbody th:each="ingreso: ${ingresos}">
							<tr>
								<td th:text="${ingreso.nombre}"></td>
								<td th:text="'$'+${ingreso.recolectado}"></td>
								<td th:text="${ingreso.createAt}"></td>
								<td><a
									class="waves-effect waves-light btn-small white black-text" th:href="@{/admin/finanzas/ingresos/}+${ingreso.id}">Ver</a></td>
							</tr>

						</tbody>
					</table>
					<a
						class="waves-effect waves-light btn right-align deep-purple accent-4"
						th:href="@{/admin/finanzas/ingresos}">Ver todos</a>
				</div>
			</div>
			<div class="col s12 white z-depth-1 tabla-gastos">
				<div class="tabla">
					<h5>Gastos</h5>
					<table class="highlight centered responsive-table">
						<thead>
							<tr>
								<th>Fecha</th>
								<th>Gastado</th>
								<th>Ver</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="gasto: ${gastos}">
								<td th:text="${gasto.createAt}"></td>
								<td th:text="'$'+${gasto.monto}"></td>
								<td><a class="waves-effect waves-light btn-small white black-text"
									th:href="@{/admin/finanzas/gastos/}+${gasto.id}">Ver</a></td>
							</tr>
						</tbody>
					</table>
					<a
						class="waves-effect waves-light btn right-align deep-purple accent-4"
						th:href="@{/admin/finanzas/gastos}">Ver todos</a>
				</div>
			</div>
		</div>
	</div>
	</main>

	<footer th:replace="layout/admin-layout :: footer"></footer>
</body>
</html>