<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/admin-layout :: head"></head>
<body>
	<link rel="stylesheet" th:href="@{/css/admin/residuos.css}" />
	<div th:replace="layout/admin-layout :: header"></div>
	<div th:replace="layout/admin-layout :: sidenav"></div>
	<main>
	<div class="container">
		<div class="row">
			<div class="col s12 m4"
				th:if="${recoleccion == null OR recoleccion.estatus == 1}">
				<div class="card">
					<div class="card-image">
						<img class="responsive-img"
							src="https://images.pexels.com/photos/1353365/pexels-photo-1353365.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
						<span class="card-title"></span> <a
							th:href="@{/admin/residuos/iniciar}"
							class="btn-floating halfway-fab waves-effect waves-light red btn-large"><i
							class="material-icons">add</i></a>
					</div>
					<div class="card-content">
						<h6>
							<b>Iniciar recolección</b>
						</h6>
						<p>Se generará una ruta que marcará las casas que han
							finalizado su recolección</p>
					</div>
				</div>
			</div>
			<div class="col s12 m4"
				th:if="${recoleccion != null && recoleccion.estatus == 0}">
				<div class="card ">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator responsive-img"
							src="https://images.pexels.com/photos/850216/pexels-photo-850216.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">
							Recolección en proceso<i class="material-icons right">more_vert</i>
						</span>
						<p>
							<a th:href="@{/admin/residuos/iniciar}">Ver recolección</a>
						</p>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Recolección
							en proceso<i class="material-icons right">close</i>
						</span>
						<p>Puede ver la ruta generada y los residuos depositados por
							cada propietario.</p>
					</div>
				</div>

			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img class="responsive-img"
							src="https://images.pexels.com/photos/461830/pexels-photo-461830.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
						<span class="card-title"></span>
					</div>
					<div class="card-content">
						<p>Categorías de residuos que se manejan</p>
					</div>
					<div class="card-action">
						<a href="#">Ver residuos</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	</main>


	<footer th:replace="layout/admin-layout :: footer"></footer>
</body>
</html>