* {
	font-family: 'Work Sans', sans-serif;
}

.hero {
    /* Sizing */
    width: 100%;
    height: 90vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/1370704/pexels-photo-1370704.jpeg?cs=srgb&dl=architectural-design-architecture-colorful-houses-1370704.jpg&fm=jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section.hero-2{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/914931/pexels-photo-914931.jpeg?cs=srgb&dl=adult-beautiful-caucasian-914931.jpg&fm=jpg')!important;
	height: 50vh;
	background-position: center center;
}
section.hero-3{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/164338/pexels-photo-164338.jpeg?cs=srgb&dl=architecture-buildings-colorful-164338.jpg&fm=jpg')!important;
	height: 50vh;
	background-position: center center;
}
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


/*
https://images.pexels.com/photos/1370704/pexels-photo-1370704.jpeg?cs=srgb&dl=architectural-design-architecture-colorful-houses-1370704.jpg&fm=jpg
*/