*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
body {
	background: linear-gradient(132deg, #ec5218, #1665c1);
 	background-size: 400% 400%;
	animation: BackgroundGradient 30s ease infinite;
 }
            
@keyframes BackgroundGradient {
	0% {background-position: 0% 50%;}
 	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
div.login {
	margin-top: 60px;
}
div.login-form {
	border-radius: 5px;
}
header{
    padding: 30px;
    background: #ffffff;
    color: rgb(53, 53, 53);
    text-align: center;
}
#form-box{
    padding: 25px 25px 10px 25px;
}