<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/propietario-layout :: head"></head>
<body>
	<link rel="stylesheet" th:href="@{/css/app/registro-basura.css}" />
	<div th:replace="layout/propietario-layout :: header"></div>
	<div th:replace="layout/propietario-layout :: sidenav"></div>
	<main>
	<div class="container ">
		<div>
			<div class="row">
				<form class="col s12 m6 white z-depth-1" id="formResiduos">
					<div class="row formulario">
						<div class="col s12">
							<h4>Registrar Deposito</h4>
							<p>Seleccione una categoría de residuos para buscar:</p>
						</div>
						<div class="input-field col s12">
							<!-- select -->
							<select id="tipoResiduo">
								<span th:each="residuo: ${tResiduos}">
									<option th:value="${residuo.id}"><span
											th:text="${residuo.nombre}"></span></option>
							</span>
							</select> <label>Categoria</label>
						</div>
						<div class="col s0 m6"></div>
						<button id="buscar"
							class="btn waves-effect waves-light col m6 s12  cyan lighten-2">
							Buscar <i class="material-icons left">search</i>
						</button>
						<div class="col s12">
							<p>Seleccione el tipo de residuo que desea registrar:</p>
							<div th:each="residuo : ${tResiduos.get(0).getResiduos()}"
								id="checkContainer">
								<p>
									<label> <input name="group1" class="residuos"
										th:value="${residuo.id}" type="radio" /> <span
										th:text=${residuo.nombre}>Red</span>
									</label>
								</p>
								<p>
							</div>
						</div>
						<div class="input-field col s12">
							<input placeholder="Placeholder" id="cantidad" type="text"
								class="validate"> <label for="cantidad">Cantidad
								de bolsas</label>
						</div>
						<button id="agregar"
							class="btn waves-effect waves-light col s12 green accent-3">
							Agregar <i class="material-icons right">add</i>
						</button>

					</div>
				</form>
				<div class="col s0 m1"></div>
				<div class="col s12 m5 white z-depth-1 formulario-deposito">
					<form class="row"
						th:action="@{/app/}+${casaID}+'/residuos/registro'" method="POST">
						<div class="col s12">
							<h5>Deposito</h5>
							<p>Aquí se registran los depositos, puede eliminarlos al hacer click en el icono <i class="material-icons tiny red-text">delete</i></p>
							<ul class="collection with-header" id="registroResiduos">

							</ul>
							<div class="col s12">
								<p>Si desea puede agregar un comentario</p>
							</div>
							<div class="input-field col s12">
								<textarea id="textarea1" class="materialize-textarea"></textarea>
								<label for="textarea1">Comentario</label>
							</div>

							<button class="btn waves-effect waves-light col s12"
								type="submit" name="action">
								Depositar <i class="material-icons right">send</i>
							</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	</main>

	<footer th:replace="layout/propietario-layout :: footer"></footer>
	<script th:src="@{/js/app/registroBasura.js}"></script>
</body>
</html>