<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/admin-layout :: head"></head>
	<body>
	<link href="https://fonts.googleapis.com/css?family=Montserrat"
		rel="stylesheet">
	<link th:href="@{/css/admin/agregar-propietario.css}" rel="stylesheet">

	<div th:replace="layout/admin-layout :: header"></div>

	
	<div th:replace="layout/admin-layout :: sidenav"></div>
	<main>
	<div class="container white  z-depth-2">
		<div class="row">
			<div class="col s12  titulo">
			<p><a onclick="window.history.go(-1); return false;" class="waves-effect waves-light btn-small white black-text"><i class="material-icons left">arrow_back</i>Regresar</a>
			</p>
				<h5 class="">Registrar nuevo propietario</h5>
			</div>
		</div>
		<div class="row formulario">
			<form id="formulario" class="col s12" th:action="@{/admin/propietarios/form}" method="post">
				<!-- Formulario  -->
				<div class="row" id="inputs-formulario">
					<div class="input-field col s12">
						<input placeholder="Ingrese su nombre" id="nombre" type="text"
							class="validate" name="username"> <label for="nombre">Nombre de usuario</label>
					</div>
					<p class="center-align grey-text text-darken-3">- Casas del propietario -</p>
					<p class="center-align grey-text text-darken-1">Ingrese la dirección de la casa</p>
					<div class="input-field col s12">
						<i class="material-icons prefix">home</i> <input type="text"
							id="autocomplete-input" class="autocomplete"> <label
							for="autocomplete-input">Dirección de la casa</label>
					</div>
					<a class="waves-effect waves-light btn-small purple lighten-5 black-text col s12 " id="agregar"><i class="material-icons left">add</i> Agregar casa</a>
					<div class="col s12">
						<ul class="otros collection">
							
						</ul>
					</div>
					<button class="btn waves-effect waves-light col s12 boton-mapa"
						type="submit" name="action">
						Registrar <i class="material-icons right">send</i>
					</button>
				</div>
			</form>
		</div>
	</div>
	</main>

	<footer th:replace="layout/admin-layout :: footer"></footer>
	<script th:src="@{/js/admin/admin-form.js}"></script>
</body>
</html>