<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/propietario-layout :: head"></head>
<body>
	<link rel="stylesheet" th:href="@{/css/app/inicio-residuos.css}" />
	<div th:replace="layout/propietario-layout :: header"></div>
	<div th:replace="layout/propietario-layout :: sidenav"></div>
	<main>
	<div class="container">
		<div class="row">
		<div class="col s12 m6">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">No hay alguna recolección iniciada</span>
					<p>El administrador de su condominio aún no ha iniciado una
						ruta de recolección</p>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card  green accent-4">
				<div class="card-content white-text">
					<span class="card-title">Recolección iniciada</span>
					<p>El administrador creó una ruta. Ingrese aquí si necesita
						depositar algo</p>
				</div>
				<div class="card-action">
					<a th:href="@{/app/}+${casaID}+@{/residuos/registro}">Entrar</a>
				</div>
			</div>
		</div>

	</div>
	</div>
	</main>

	<footer th:replace="layout/propietario-layout :: footer"></footer>
</body>
</html>