div.container {
	width:90%;
	margin-top:20px;
}
div.pagos form {
	padding: 10px;
}
a.info{
	margin-right:10px;
}
div.tabla-gastos{
	margin-top:10px;
}
div.tabla {
	padding-bottom: 10px;
}