
div.container {
	margin-top:40px;
	width: 90%;
}


/* Tabla */

div.tabla-casas {
	padding-bottom:10px;
}
div.tabla-casas div.titulo {
	height:80px;
	padding-left: 10px;
	font-family: 'Montserrat', sans-serif;
}
a.info {
	margin-right: 10px;
}
li.active {
	background-color: #00796b!important;
}