<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/propietario-layout :: head"></head>
<body>
	<link rel="stylesheet" th:href="@{/css/admin/casas-listar.css}" />	
	<div th:replace="layout/propietario-layout :: header"></div>
	<div th:replace="layout/propietario-layout :: sidenav"></div>
	<main>
		<div class="container">
		<div class="tabla-casas z-depth-1 white">
			<div class="titulo">
				<p><a onclick="window.history.go(-1); return false;" class="waves-effect waves-light btn-small white black-text"><i class="material-icons left">arrow_back</i>Regresar</a>
			</p>
				<h4 class="" th:text="${titulo}"></h4>
				<p>A continuacion se muestran los gastos realizados, del más reciente al menos reciente.</p>
			</div>
			
			<table class="striped responsive-table centered responsive-table">
				<thead>
					<tr>
							<th>Fecha</th>
							<th>Gastado</th>
							<th>Ver</th>
						</tr>
				</thead>

				<tbody>
					<tr th:each="gasto: ${gastos}">
						<td th:text="${gasto.createAt}"></td>
						<td th:text="'$'+${gasto.monto}"></td>
						<td><a class="waves-effect waves-light btn-small purple" th:href="@{/admin/finanzas/gastos/}+${gasto.id}">Ver</a></td>
					</tr>
				</tbody>
			</table>
			<div th:replace="paginator-nav :: paginator"></div>
		</div>
	</div>
	</main>
	
	<footer th:replace="layout/propietario-layout :: footer"></footer>
</body>
</html>