<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/propietario-layout :: head"></head>
<body>
	<style>
		div.container {
			width: 90%;
			margin-top: 20px;
		}
		
		div.contenido {
			padding-top: 10px;
		}
		
		div.evidencia {
			margin-bottom: 5px;
			margin-top: 5px;
		}
		
		p.regresar {
			padding-left: 10px;
		}
	</style>
	<div th:replace="layout/propietario-layout :: header"></div>
	<div th:replace="layout/propietario-layout :: sidenav"></div>
	<main>
	<div class="container">
		<div class="contenido white z-depth-1 center-align">
			<p class="left-align regresar">
				<a onclick="window.history.go(-1); return false;"
					class="waves-effect waves-light btn-small white black-text"><i
					class="material-icons left">arrow_back</i>Regresar</a>
			</p>
			<h4 th:text="'Id-'+${gasto.id}"></h4>
			<p>Información general:</p>
			<ul class="collection">
				<li class="collection-item" th:text="'Fecha: '+${gasto.createAt}"></li>
				<li class="collection-item"
					th:text="'Descripción: '+${gasto.descripcion}"></li>
				<li class="collection-item"
					th:text="'Monto ocupdo: $'+${gasto.monto}"></li>
			</ul>
			<p>Evidencias del uso de los recursos:</p>
			<p class="grey-text">(Da click en cualquier imagen para
				ampliarla)</p>
			<div class="row">
				<div th:each="evidencia: ${gasto.evidencias}"
					class="evidencia col s12 m6 l4">
					<img class="materialboxed responsive-img img-evidencia" width="650"
						th:src="@{/uploads/}+${evidencia.imagen}">
				</div>
			</div>
		</div>
	</div>
	</main>
	<footer th:replace="layout/propietario-layout :: footer"></footer>
</body>
</html>