<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/propietario-layout :: head"></head>
<body>
	<link rel="stylesheet" th:href="@{/css/app/finanzas-inicio.css}" />
	<div th:replace="layout/propietario-layout :: header"></div>
	<div th:replace="layout/propietario-layout :: sidenav"></div>
	<main>
		<div class="container">
		<div class="row">
			<div class="col s12 white z-depth-1">
				<div class="tabla">
					<h5>Ingresos</h5>
					<table class=" centered responsive-table highlight">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Recaudado</th>
								<th>Fecha</th>
								<th>Ver</th>
							</tr>
						</thead>

						<tbody th:each="ingreso: ${ingresos}">
							<tr>
								<td th:text="${ingreso.nombre}"></td>
								<td th:text="'$'+${ingreso.recolectado}"></td>
								<td th:text="${ingreso.createAt}"></td>
								<td><a
									class="waves-effect waves-light btn-small white black-text" th:href="@{/app/}+${casaID}+'/finanzas/ingresos/'+${ingreso.id}">Ver</a></td>
							</tr>

						</tbody>
					</table>
					<a
						class="waves-effect waves-light btn right-align deep-purple accent-4"
						th:href="@{/app/}+${casaID}+'/finanzas/ingresos'">Ver todos</a>
				</div>
			</div>
			<div class="col s12 white z-depth-1 tabla-gastos">
				<div class="tabla">
					<h5>Gastos</h5>
					<table class="highlight centered responsive-table">
						<thead>
							<tr>
								<th>Fecha</th>
								<th>Gastado</th>
								<th>Ver</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="gasto: ${gastos}">
								<td th:text="${gasto.createAt}"></td>
								<td th:text="'$'+${gasto.monto}"></td>
								<td><a class="waves-effect waves-light btn-small white black-text"
									th:href="@{/app/}+${casaID}+'/finanzas/gastos/'+${gasto.id}">Ver</a></td>
							</tr>
						</tbody>
					</table>
					<a
						class="waves-effect waves-light btn right-align deep-purple accent-4"
						th:href="@{/app/}+${casaID}+'/finanzas/gastos'">Ver todos</a>
				</div>
			</div>
		</div>
	</div>
	</main>
	
	<footer th:replace="layout/propietario-layout :: footer"></footer>
</body>
</html>