body {
    background-color: rgb(240, 240, 240);
    font-family: 'Work Sans', sans-serif;
}
header, main, footer {
    padding-left: 250px;
}
ul.sidenav-edit {
    
    width: 250px;
    position: relative;
    background-color: rgb(52, 52, 52);
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
     
}
/* navbar */
nav.nav-edit {
	height: 60px;
	background-color: white;
	
}
div.nav-edit {
    padding-left: 20px;   
}
ul#nav-mobile li {
	display: block;
    height: 60px;
}
/** Sidenav **/
li.titulo {
	height:60px;
	padding-top:5px;
	box-shadow: 0 2px 2px -2px black;
	background-color: rgb(42, 42, 42);
	
}
a.app-titulo {
	font-size:30px!important;
}
div.user-view {
    padding-bottom: 32px!important;
}
.background-user {
    background-color: rgb(241, 241, 241);
}
img.img-user{
    display: inline-block!important;
}
div.name-user{
   	display: inline-block!important;
    margin-left: 18px;
}
span.name-user{
    font-weight: bold!important;
}
span.name{
    margin-top: 0px!important;
}

.sidenav ul.collapsible li.active{
	background-color: rgb(0, 255, 147)!important;
}
div.collapsible-body ul li {
	background-color: rgb(62, 62, 62);
}
/**  **/