div.tabla-usuarios {
	padding-bottom:20px;
}
div.tabla-usuarios div.titulo {
	height:80px;
	padding-left: 10px;
	font-family: 'Montserrat', sans-serif;
}
div.container {
	margin-top:40px;
	width:90%;
}
a.info {
	margin-right: 10px;
}
li.active {
	background-color: #2196f3!important;
}