*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
body {
	background: linear-gradient(132deg, #ec5218, #1665c1);
 	background-size: 400% 400%;
	animation: BackgroundGradient 30s ease infinite;
 }
 @keyframes BackgroundGradient {
	0% {background-position: 0% 50%;}
 	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
.contenedor {
    margin: 30px auto;
    width: 50%;
}
@media only screen and (max-width: 600px) {
    .contenedor {
    	margin: 30px auto;
    	width: 99%;
	}
}
@media only screen and (max-width: 992px) {
    .contenedor {
    	margin: 30px auto;
    	width: 70%;
	}
}