<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/admin-layout :: head"></head>
<body>
	<link rel="stylesheet" th:href="@{/css/admin/propietarios-listar.css}" />
	<div th:replace="layout/admin-layout :: header"></div>


	<div th:replace="layout/admin-layout :: sidenav"></div>
	<main>
	<div class="container">
		<div>
			<h2>Propietarios</h2>
		</div>
		<div class="row">
			<a class="btn-large col l4 m6 s12 info white black-text"><i
				class="material-icons left blue-text">people_outline</i><span
				th:text="${totalPropietarios}"></span></a>
		</div>
		<div class="tabla-usuarios z-depth-1 white">
			<!-- Titulo -->
			<div class="titulo   valign-wrapper">
				<h5 class="center-align " th:text="${titulo}"></h5>
			</div>
			<table class="striped responsive-table centered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Ver</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="propietario: ${propietarios}">
						<td th:text="${propietario.id}"></td>
						<td th:text="${propietario.apellido + ' '+propietario.nombre}"></td>
						<td><a
							class="waves-effect waves-light btn-small black-text white" th:href="@{/admin/propietarios/propietario/}+${propietario.id}">Ver</a></td>
					</tr>
				</tbody>
			</table>
			<div th:replace="paginator-nav :: paginator"></div>
		</div>
	</div>

	</main>


	<div class="fixed-action-btn">
		<a class="btn-floating btn-large red"> <i
			class="large material-icons">account_circle</i>
		</a>
		<ul>
			<li><a class="btn-floating deep-purple"
				th:href="@{/admin/propietarios/form}"><i class="material-icons">person_add</i></a></li>
			<li><a class="btn-floating pink modal-trigger" href="#modal1"><i
					class="material-icons">search</i></a></li>
		</ul>
	</div>

	<div id="modal1" class="modal bottom-sheet">
		<form>
			<div class="modal-content">
				<h4>Buscar</h4>
				<p>Buscar propietarios por nombre:</p>
				<div class="input-field col s12">
					<input id="nombre_" type="text" class="validate"> <label
						for="nombre_">Nombre</label>
				</div>
					<a href="/admin/propietarios/listar" id="btnBuscar" class="waves-effect waves-light btn"><i class="material-icons left">send</i>Enviar</a>

			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-green btn-flat"><i
					class="material-icons left">close</i>Cerrar</a>
			</div>
		</form>
	</div>


	<footer th:replace="layout/admin-layout :: footer"></footer>
	<script>
		document.querySelector('#nombre_').addEventListener('keyup',e=>{
			let buscar = e.target.value;
			let btn = document.querySelector('#btnBuscar');
			let replaced = buscar.split(' ').join('+');
			btn.href =  '/admin/propietarios/listar?nombre='+replaced;
			
		});
	</script>
</body>
</html>