<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/admin-layout :: head"></head>
<body>
	<link rel="stylesheet" th:href="@{/css/admin/propietario.css}" />

	<div th:replace="layout/admin-layout :: header"></div>
	<div th:replace="layout/admin-layout :: sidenav"></div>
	<!-- Card widget -->
	<main>
	<div class="container center-align">
		<div class="card">
			<!-- Face 2 -->
			<div class="card-face face-2">
				<!-- Back trigger -->
				<button class="white card-face__back-button"
					data-card-back="data-card-back">
					  <i class="material-icons">arrow_back</i>
				</button>
				<img
					class="card-face__stats modal-trigger" href="#modal1"  src="https://cdn3.iconfinder.com/data/icons/faticons/32/view-01-512.png"
					width="100" height="100" draggable="false" />
				<img class="card-face__stats modal-trigger" href="#modal2" src="https://cdn3.iconfinder.com/data/icons/tricon-circles/24/Circle-Home-512.png"
					width="100" height="100" draggable="false" />
				<!-- Settings Button -->
				<img class="card-face__settings-button" src="http://imgh.us/cog.svg"
					width="17" height="17" draggable="false" />
			</div>
			<!-- Face 1 -->
			<div class="card-face face-1">
				<!-- Menu trigger -->
				<button class="white card-face__menu-button"
					data-card-menu="data-card-menu">
					  <i class="material-icons">arrow_forward</i>
				</button>
				<!-- Avatar -->
				<div class="card-face__avatar">
					<!-- User avatar -->
					<img
						src="https://s3.amazonaws.com/uifaces/faces/twitter/csswizardry/128.jpg"
						width="110" height="110" draggable="false" />
				</div>
				<!-- Name -->
				<h2 class="card-face__name" th:text="${propietario.apellido}+' '+${propietario.nombre}">Mattia Astorino</h2>
				<!-- Title -->
				<span class="card-face__title">Propietario</span>
				<p><a onclick="window.history.go(-1); return false;" class="waves-effect waves-light btn white black-text">Regresar</a></p>
				<!-- Cart Footer -->
				<div class="card-face-footer">
					
				</div>
			</div>
		</div>
	</div>
	</main>
	
	<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 class="center-align">Información</h4>
      <p class="center-align">A continuación se muestra la información básica del propietario:</p>
    <ul class="collection">
      <li class="collection-item" th:text="'Nombre: '+${propietario.nombre}"></li>
      <li class="collection-item" th:text="'Apellido: '+${propietario.apellido}"></li>
      <li class="collection-item" th:text="'Correo electrónico: '+${propietario.email}"></li>
      <li class="collection-item" th:text="'Teléfono: '+${propietario.telefono}"></li>
    </ul>
            
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Salir</a>
    </div>
  </div>
  
  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 class="center-align">Casas</h4>
      <p class="center-align">A contnuación se muestran lascasas del propietario en este condominio:</p>
      <div class="collection">
      	<span th:each="casa:  ${casas}">
        <a th:href="@{/admin/casas/casa/}+${casa.id}" class="center-align collection-item" th:text="${casa.direccion}"></a>
        </span>
      </div>
            
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Salir</a>
    </div>
  </div>

	<script
		src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

	<script>
		(function() {
			var menu_trigger = $("[data-card-menu]");
			var back_trigger = $("[data-card-back]");

			menu_trigger.click(function() {
				$(".card, body").toggleClass("show-menu");
			});

			back_trigger.click(function() {
				$(".card, body").toggleClass("show-menu");
			});
		})();
	</script>

	<footer th:replace="layout/admin-layout :: footer"></footer>
</body>
</html>