<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:replace="layout/index-layout :: head">
</head>
<body>

	<header th:replace="layout/index-layout :: header"></header>

	<section class="hero">
		<div class="hero-inner">
			<h5>
				My awesome website
				</h1>
				<h6>
					Look at this website and bask in its amazing glory!
					</h2>
					<a th:href="@{/signup}"
						class="btn waves-effect waves-light btn white black-text">Go
						ahead...</a>
		</div>
	</section>

	<div class="container">
		<div class="section">

			<!--   Icon Section   -->
			<div class="row">
				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center brown-text">
							<i class="material-icons">flash_on</i>
						</h2>
						<h5 class="center">Speeds up development</h5>

						<p class="light">We did most of the heavy lifting for you to
							provide a default stylings that incorporate our custom
							components. Additionally, we refined animations and transitions
							to provide a smoother experience for developers.</p>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center brown-text">
							<i class="material-icons">group</i>
						</h2>
						<h5 class="center">User Experience Focused</h5>

						<p class="light">By utilizing elements and principles of
							Material Design, we were able to create a framework that
							incorporates components and animations that provide more feedback
							to users. Additionally, a single underlying responsive system
							across all platforms allow for a more unified user experience.</p>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center brown-text">
							<i class="material-icons">settings</i>
						</h2>
						<h5 class="center">Easy to work with</h5>

						<p class="light">We have provided detailed documentation as
							well as specific code examples to help new users get started. We
							are also always open to feedback and can answer any questions a
							user may have about Materialize.</p>
					</div>
				</div>
			</div>

		</div>
	</div>

	<section class="hero hero-3">
		<div class="hero-inner">
		<!-- 
			<h5>
				My awesome website
				</h1>
				<h6>
					Look at this website and bask in its amazing glory!
					</h2>
					<a th:href="@{/signup}"
						class="btn waves-effect waves-light btn white black-text">Go
						ahead...</a>
						 -->
		</div>
	</section>

	<div class="container">
		<div class="section">

			<div class="row">
				<div class="col s12 center">
					<h3>
						<i class="mdi-content-send brown-text"></i>
					</h3>
					<h4>Contact Us</h4>
					<p class="left-align light">Lorem ipsum dolor sit amet,
						consectetur adipiscing elit. Nullam scelerisque id nunc nec
						volutpat. Etiam pellentesque tristique arcu, non consequat magna
						fermentum ac. Cras ut ultricies eros. Maecenas eros justo,
						ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque,
						posuere et pretium eget, bibendum sollicitudin lacus. Aliquam
						eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla
						imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum
						ac, gravida ultrices erat. Nullam eget dignissim mauris, non
						tristique erat. Vestibulum ante ipsum primis in faucibus orci
						luctus et ultrices posuere cubilia Curae;</p>
				</div>
			</div>

		</div>
	</div>
	
	</div>
	<section class="hero hero-2">
		<div class="hero-inner">
			<h5>Aplicación resposiva, que puede ser utilizada fácilmente desde el celular</h5>
		</div>
	</section>

	<footer th:replace="layout/index-layout :: footer"></footer>

</body>
</html>