<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:fragment="head">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Registrarse</title>
<!-- CSS -->
<link href="https://fonts.googleapis.com/css?family=Work+Sans"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/materialize.min.css}" />
<link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>
	<div class="row login">
		<div class="col m3 l4"></div>
		<div class=" white z-depth-2 col s12 m6 l4 login-form">
			<header>
				<h6><a class="deep-purple-text text-accent-4" th:href="@{/}">TOGETHER</a></h6>
				<h4>Acceder</h4>

			</header>
			<form th:action="@{/login}" method="post" id="form-box">
				<p th:text="${error}" class="red-text"></p>
				<div class="input-field col s12">
					<input id="username" type="text" name="username" class="validate">
					<label for="username">Nombre de usuario</label>
				</div>
				<div class="input-field col s12">
					<input id="password" type="password" name="password"
						class="validate"> <label for="password">Contraseña</label>
				</div>
				<br>
				<div class="clear"></div>
				<br>
				<div class="row">
					<button class="btn waves-effect waves-light col s12 deep-purple accent-4" type="submit"
						name="action">Continuar</button>

				</div>
				<p class="right-align"><a >Aviso de privacidad</a></p>
			</form>
		</div>
		<div class="col m3 l4"></div>
	</div>

	<script th:src="@{/js/materialize.min.js}"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			M.AutoInit();
		})
	</script>
</body>
</html>