<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="paginator">
		<ul class="pagination">
			<li  th:class="${page.first? 'disabled': 'waves-effect'}">
				<a class="page-link"
				 th:href="@{${page.url}(page=0)}"><i
					class="material-icons">first_page</i></a>
			</li>


			<li 
				th:class="${not page.hasPrevious? 'disabled': 'waves-effect'}">
				<a 
				th:href="@{${page.url}(page=${page.paginaActual-2})}"><i class="material-icons">chevron_left</i></a>
			</li>

			<li class="page-item" th:each="item : ${page.paginas}"
				th:class="${item.actual? 'active': 'waves-effect'}">
				<a 
				th:href="@{${page.url}(page=${item.numero-1})}"
				th:text="${item.numero}"></a></li>


			<li class="page-item"
				th:class="${not page.hasNext? 'disabled': 'waves-effect'}">
			<a
				 
				th:href="@{${page.url}(page=${page.paginaActual})}"><i class="material-icons">chevron_right</i></a>
			</li>	
			<li class="page-item"
				th:class="${page.last? 'disabled': 'waves-effect'}"><a
				
				th:href="@{${page.url}(page=${page.totalPaginas-1})}"><i class="material-icons">last_page</i></a>
			</li>
		</ul>

	</div>
</body>
</html>