<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:fragment="head">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Registrarse</title>
<!-- CSS -->
<link href="https://fonts.googleapis.com/css?family=Work+Sans"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/materialize.min.css}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/signup.css}" />
</head>
<body>


	<header th:replace="layout/index-layout :: header"></header>
	<div class="row contenedor">
		<div class="col l3 m2"></div>
		<div class="main z-depth-2 col s12 m8 l6">
			<header class="header">
				<h6>TOGETHER</h6>
				<h4>Registrarse</h4>
			</header>
			<form th:action="@{/signup}" method="POST" id="form-box">
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">account_circle</i> <input
						id="nombre" type="text" th:field="${propietario.nombre}"
						class="validate" onselectstart="return false" onCut="return false"
						onDrag="return false" onDrop="return false" autocomplete="off"
						onpaste="return false" onkeypress="return sololetras(event)"
						required> <label for="nombre">Nombre</label>
					<p class="red-text mensaje-error left-align"
						th:if="${#fields.hasErrors('propietario.nombre')}"
						th:errors="${propietario.nombre}"></p>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">account_circle</i> <input
						id="apellido" type="text" th:field="${propietario.apellido}"
						class="validate" onselectstart="return false" onCut="return false"
						onDrag="return false" onDrop="return false" autocomplete="off"
						onpaste="return false" onkeypress="return sololetras(event)"
						required> <label for="apellido">Apellido</label>
					<p class="red-text mensaje-error left-align"
						th:if="${#fields.hasErrors('propietario.apellido')}"
						th:errors="${propietario.apellido}"></p>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">email</i> <input id="emial"
						type="email" th:field="${propietario.email}" class="validate"
						onselectstart="return false" onCut="return false"
						onDrag="return false" onDrop="return false" autocomplete="off"
						onpaste="return false" onkeypress="return validarmail(event)"
						maxlength="76" required> <label for="email">Email</label>
					<p class="red-text mensaje-error left-align"
						th:if="${#fields.hasErrors('propietario.email')}"
						th:errors="${propietario.email}"></p>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">phone</i> <input id="telefono"
						type="text" th:field="${propietario.telefono}" class="validate"
						onselectstart="return false" onCut="return false"
						onDrag="return false" onDrop="return false" autocomplete="off"
						onpaste="return false" onkeypress="return solonum(event)"
						maxlength="10" minlength="10" required> <label
						for="telefono">Teléfono</label>
					<p class="red-text mensaje-error left-align"
						th:if="${#fields.hasErrors('propietario.telefono')}"
						th:errors="${propietario.telefono}"></p>
				</div>
				<div class="input-field col s12">
					<i class="material-icons prefix">account_box</i> <input
						id="username" type="text" th:field="${usuario.username}" class="validate"
						onselectstart="return false" onCut="return false"
						onDrag="return false" onDrop="return false" autocomplete="off"
						onpaste="return false" onkeypress="return solotodo(event)"
						required> <label for="username">Nombre de usuario</label>
					<p class="red-text mensaje-error left-align"
						th:if="${#fields.hasErrors('usuario.username')}"
						th:errors="${usuario.username}"></p>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">lock</i> <input id="password"
						type="password" th:field="${usuario.password}" class="validate"
						onselectstart="return false" onCut="return false"
						onDrag="return false" onDrop="return false" autocomplete="off"
						onpaste="return false" onkeypress="return solotodo(event)"
						minlength="8" maxlength="32" required> <label
						for="password">Contraseña</label>
					<p class="red-text mensaje-error left-align"
						th:if="${#fields.hasErrors('usuario.password')}"
						th:errors="${usuario.password}"></p>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">lock</i> <input id="password2"
						type="password" class="validate" onselectstart="return false"
						onCut="return false" onDrag="return false" onDrop="return false"
						autocomplete="off" onpaste="return false"
						onkeypress="return solotodo(event)" minlength="8" maxlength="32"
						required> <label for="password2">Repita la
						contraseña</label>

				</div>

				<br>
				<div class="extra ">
					<p class="red-text" id="password-check"></p>
					<p>
						<label> <input class="filled-in" type="checkbox"
							id="privacidad" required /> <span>He leído y acepto el <a
								class="blue-text">Aviso de Privacidad</a></span>
						</label>
					</p>
				</div>
				<div class="clear"></div>
				<br>
				<div class="row">
					<button
						class="btn waves-effect waves-light col s12 purple darken-1 "
						id="btnEnviar" type="submit" name="action">Crear cuenta</button>

				</div>

			</form>

		</div>
		<div class="col l3 m2"></div>
	</div>
	<footer th:replace="layout/index-layout :: footer"></footer>

	<!-- 
	<script th:src="@{/js/admin/validacion.js}"></script>
	 -->
</body>
</html>