*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
body {
	background: linear-gradient(132deg, #ec5218, #1665c1);
 	background-size: 400% 400%;
	animation: BackgroundGradient 30s ease infinite;
 }
            
@keyframes BackgroundGradient {
	0% {background-position: 0% 50%;}
 	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
.contenedor{
	
	margin: 10px auto;
}


.main{	
   
    background: #fff;
    margin: 60px auto;
}
header.header{
    padding: 30px;
    background: #ffffff;
    color: rgb(53, 53, 53);
    text-align: center;
}
#lock-outline{
    font-size: 75px;
    padding: 5px;
}

#form-box{
    padding: 25px 25px 10px 25px;
}
#icon{
    width: 50px;
    height: 45px;
    background: #043964;
    color: #fff;
    line-height: 1.7;
    margin-bottom: 5px;
    font-size: 25px;
}

#rem{
    width: 20px;
    height: 20px;
    float: left;
}
#rem-text{
    float: left;
    margin-left: 5px;
    color: #444;
}
#forgot{
    float: right;
    color: #444;
}
.clear{
    clear: both;
}
#btn{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #dd4b39;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;  
}
#btn:focus{
    outline: none;
}
#btn:hover{
    background-color: #741306;
}
#sub-btn{
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    border: none;
    background: #12d188;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
#sub-btn:focus{
    outline: none;
}
#sub-btn:hover{
    background-color: #096d43;
}
p{
    text-align: center;
    padding: 10px;
    color: #444;
}
.reg-box{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
}
.s-icon{
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #fff;
    line-height: 1.7;
    cursor: pointer;
}
.s-icon:hover{
    opacity: 0.9;
}

a{
    color: black;
}
.mensaje-error{
	font-size:12px;
}