<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/admin-layout :: head"></head>
<body>
	<link rel="stylesheet" th:href="@{/css/admin/ruta.css}" />
	<div th:replace="layout/admin-layout :: header"></div>
	<div th:replace="layout/admin-layout :: sidenav"></div>
	<main>
	<div class="container row">
		<div class="col s12 white z-depth-1">
			<p>
				<a onclick="window.history.go(-1); return false;"
					class="waves-effect waves-light btn-small white black-text"><i
					class="material-icons left">arrow_back</i>Regresar</a>
			</p>
			<h4>Recolección</h4>
			<p>A continuación se muestra la ruta de recolección. Puede actualizarla o terminarla cuando desee.</p>
		</div>
		<div class="col s12 z-depth-1" id="mapa"></div>
		<div class="col s12 white z-depth-1">
			<ul class="collapsible" id="direcciones">

			</ul>
		</div>
		<a class="waves-effect waves-light btn col s12 m6" id="actualizar"><i
			class="material-icons left">refresh</i>Actualizar</a> <a th:href="@{/admin/residuos/finalizar}"
			class="waves-effect waves-light btn col s12 m6 red"><i
			class="material-icons left">check</i>Terminar recoleccion</a>
	</div>
	</main>

	<footer th:replace="layout/admin-layout :: footer"></footer>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5rfRXVnLBYfoxg5AyaWgY_UBTMnNkJs0">
		
	</script>
	<script th:src="@{/js/admin/API.js}"></script>
	<script th:src="@{/js/admin/Mapa.js}"></script>
	<script th:src="@{/js/admin/MapaRuta.js}"></script>
	<script th:src="@{/js/admin/ruta.js}"></script>

</body>
</html>