<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title th:text="${titulo}+' - Together'"></title>
<!-- CSS -->
<link href="https://fonts.googleapis.com/css?family=Work+Sans"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/materialize.min.css}" />
<link rel="stylesheet" th:href="@{/css/app/app-propietario-plantilla.css}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
</head>

<body>

	<div th:fragment="header">
		<nav class="nav-edit grey darken-4">
			<div class="nav-wrapper nav-edit">
				<ul>
					<a href="#" data-target="slide-out" class="sidenav-trigger">
						<i class="material-icons  ">menu</i>
					</a>
				</ul>
				<a href="#" class="brand-logo hide-on-large-only ">Together</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a th:href="@{/app/}" class=""><i class="material-icons left">domain</i>Ver casas</a></li>
					<li>
						<form id="logoutForm" th:action="@{/logout}" method="post">
							<a onclick="document.getElementById('logoutForm').submit();" class="  text-darken-4">Cerrar sesión</a>
						</form>
					</li>
					<li><a href="#" class=""><i class="material-icons  text-darken-4">account_circle</i></a></li>
				</ul>
			</div>
		</nav>
	</div>
	<!-- Fin Header -->

	<div th:fragment="sidenav">
		<ul id="slide-out" class="sidenav sidenav-fixed sidenav-edit">
			<li class="titulo">
				<a class="app-titulo ">TOGETHER</a>
			</li>
			<li >
				<a class="center-align red white-text ">Propietario</a>
			</li>
			<!-- 
			<li>
				<div class="divider"></div>
			</li>
			 -->
			<li><a class="waves-effect " href="#!"><i
					class="material-icons ">attach_money</i>Pagos</a></li>
			 <li><a class=""  th:href="@{/app/} + ${casaID} + '/casa/'"><i
					class="material-icons ">home</i>Casa</a></li>
			<li><a class="waves-effect " th:href="@{/app/} + ${casaID} + '/residuos/'"><i
					class="material-icons ">delete</i>Residuos</a></li>
			<div class="hide-on-large-only">
				<li><a class="subheader grey-text text-lighten-1">Cuenta</a></li>
				<li><a class="waves-effect"><i
						class="material-icons">account_box</i>Ver cuenta</a></li>
				<li><a class="waves-effect"
					onclick="document.getElementById('logoutForm').submit();"><i
						class="material-icons">exit_to_app</i>Salir</a></li>
			</div>

		</ul>
	</div>
	<!-- Fin sidenav -->



	<!-- JS -->
	<footer th:fragment="footer">
		<script th:src="@{/js/materialize.min.js}"></script>
		<script>
			document.addEventListener("DOMContentLoaded", function() {
				M.AutoInit();
			})
		</script>
		<style>
@media only screen and (max-width : 600px) {
	div.container {
		margin-top:0;
		width: 99%;
	}
}
</style>
	</footer>

</body>

</html>